classifyData.xlsx
**.csv
**.xlsx

**/*.csv
**/*.xlsx
**/*.xls

# all images
*.png
**/.png
**/*.jpg
**/*.jpeg

# all models
*.h5
**/*.h5
**/*.pkl
**/*.joblib

# all files in the .venv directory
.venv
venv